@media (min-width: 992px) and (max-width: 1199px) 
{
	.ehover10 .overlay{padding:10px 0px;}
	.ehover10 .info{float:left;margin:0;text-transform:uppercase;color:#fff;font-size:13px;background:transparent;font-weight:300;font-family:'Open Sans',sans-serif;border-radius:5px;border:solid 1px #fff;padding:5px 10px;top:0;position:relative;transform:translateY(-0%)!important;letter-spacing:1px;margin:0px 13px;}
	.overlay ul{margin:0 0 10px;padding:0;overflow:hidden;}
	.ehover10 .info:after{display:none;}
	.tech_list ul li{display:inline-block;margin:0 20px;position:relative;}
	.w230{width:135px;border-radius:5px;}
	.w165{width:6.8em;border-radius:5px;}
	.w155{width:100px;border-radius:5px;}
	.w135{width:120px;border-radius:5px;}
	.technology{margin-top:30px;margin-bottom:30px;}	
}

@media (min-width: 768px) and (max-width: 991px) 
{   
    .tech_list ul li{display:inline-block;margin:0 8px;position:relative;}
    .tech_list ul li:after{position:absolute;content:"";width:1px;height:100%;background:#e5e5e5;top:0;right:-10px;}
	ul.sublist{display:flex;flex-wrap: wrap;}
	ul.sublist li:nth-child(1){order:1;width:calc(25% - 10px);}
	ul.sublist li:nth-child(2){order:2;width:calc(25% - 10px);}
	ul.sublist li:nth-child(3){order:5;width:calc(50% - 10px);margin-top:15px;}
	ul.sublist li:nth-child(4){order:6;width:calc(50%);margin-right:0px;margin-top:15px;}
	ul.sublist li:nth-child(5){order:3;width:calc(25% - 10px);}
	ul.sublist li:nth-child(6){order:4;width:calc(25%);}
	.w230,.w165,.w155,.w135{width:100%;}
	.banner-img h2.text-center,.banner-img h1.text-center{padding:30px 0px;}
	
}
@media (max-width: 991px) 
{
	.description-portfolio{padding-top:50px;}
}

@media (max-width: 767px) 
{
	.banner-title h1{font-size:28px;}
	.banner-title small{font-size:15px;}
	ul.sublist{display:flex;flex-wrap: wrap;}
	ul.sublist li:nth-child(1){order:1;width:100%;margin:0 0 5px;}
	ul.sublist li:nth-child(2){order:2;width:100%;margin:0 0 5px;}
	ul.sublist li:nth-child(3){order:5;width:100%;margin:0 0 5px;}
	ul.sublist li:nth-child(4){order:6;width:100%;margin:0 0 5px;}
	ul.sublist li:nth-child(5){order:3;width:100%;margin:0 0 5px;}
	ul.sublist li:nth-child(6){order:4;width:100%;margin:0 0 5px;}
	.w230,.w165,.w155,.w135{width:100%;}
	.banner-img h2.text-center,.banner-img h1.text-center{padding:30px 0px;}
	.dropdown-menu.mega-menu{top:auto;}
	.tech_list ul.techlist{display:flex;flex-direction:column;}
	.tech_list ul.techlist li{display:inline-block;margin:5px 0px;position:relative;}
	.tech_list ul.techlist li a{font-size:16px;}
	.tech_list ul li:after{display:none;}
	.gallery{margin:0px 0px 5px;}
	.button_all{float:none;width:100%;border-top-right-radius:5px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;}
	.arrow_box:after,.arrow_box:before{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;}
	.arrow_box:after{border-color:rgba(136,183,213,0);border-top-color:#83be51;border-width:10px;margin-left:-10px;}
	.arrow_box:before{border-color:rgba(194,225,245,0);border-top-color:#83be51;border-width:10px;margin-left:-10px;}
}

@media (max-width: 767px) and (orientation : landscape)
{
    
}

@media (max-width:414px) 
{
	.banner-title h1{font-size:19px;}
	.banner-title small{font-size:15px;}
}

@media (max-width:375px)
{
	.banner-title{left:45%;top:50%;transform:translate(-41%,-50%);}
}

@media (max-width:320px) 
{   
	.pagination-nav ul li.left i{margin-right:20px;font-size:24px;}
	.pagination-nav ul li.right i{margin-left:20px;font-size:24px;}
}